<a href="https://colab.research.google.com/github/Marianno77/data-science/blob/main/Pandas/Pandas_podstawy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas - podstawy**

## import biblioteki

In [1]:
import pandas as pd
pd.__version__

'2.2.2'

## Podstawowe struktury danych: pd.Series

In [2]:
x = pd.Series(data=[3,2,4,6])
print(x)

0    3
1    2
2    4
3    6
dtype: int64

In [3]:
x = pd.Series(data=[3,2,4,6], index=['a','b','c','d'])
print(x)

a    3
b    2
c    4
d    6
dtype: int64

In [4]:
x = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='ilosc')
print(x)

a    3
b    2
c    4
d    6
Name: ilosc, dtype: int64

In [17]:
x = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='ilosc')
print(x.index)
print('wartośći: ' + str(x.values))
print('typ danych: ' + str(x.dtype))
print('kształt: ' + str(x.shape))
print('rozmiar' + str(x.size))
print('wymiar: ' + str(x.ndim))
print('nazwa: ' + x.name)

Index(['a', 'b', 'c', 'd'], dtype='object')
wartośći: [3 2 4 6]
typ danych: int64
kształt: (4,)
rozmiar4
wymiar: 1
nazwa: ilosc

In [8]:
x = pd.Series(data=[3.2,2,4.1,6])
print(x)

0    3.2
1    2.0
2    4.1
3    6.0
dtype: float64

In [24]:
import numpy as np
print('brak danych: ' + str(np.nan)+ '\n')

x = pd.Series(data=[1,2,np.nan,3,4])
print(x)

brak danych: nan

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
dtype: float64

In [28]:
x = pd.Series(data=np.arange(start=1,stop=21) ,index=pd.date_range(start='20241201',periods=20))
print(x)

2024-12-01     1
2024-12-02     2
2024-12-03     3
2024-12-04     4
2024-12-05     5
2024-12-06     6
2024-12-07     7
2024-12-08     8
2024-12-09     9
2024-12-10    10
2024-12-11    11
2024-12-12    12
2024-12-13    13
2024-12-14    14
2024-12-15    15
2024-12-16    16
2024-12-17    17
2024-12-18    18
2024-12-19    19
2024-12-20    20
Freq: D, dtype: int64

In [51]:
x = pd.Series(data={'volvo': 1,'mazda': 2,'kia': 3,'ford':3,'citroen':np.nan})
print(str(x) + '\n')

print(x['mazda'])
print('\n'+'ilość powtarzalnych danych: \n'+ str(x.value_counts()))
print('\n'+'ilość powtarzalnych danych razem z nan: \n'+ str(x.value_counts(dropna=False)))
print('\n'+'posortowanie: \n' + str(x.sort_values(ascending=False)))
print('\n'+'podstawowe statystyki: \n' + str(x.describe()))
print('\n'+'najwieksze dwie wartości: \n' + str(x.nlargest(2)))
print('\n'+'najmniejsze trzy wartości: \n' + str(x.nsmallest(3)))
print('\n'+'ranking: \n'+str(x.rank()))
print('\n'+'braki danych: \n' + str(x.isna()))

volvo      1.0
mazda      2.0
kia        3.0
ford       3.0
citroen    NaN
dtype: float64

2.0

ilość powtarzalnych danych:
3.0    2
1.0    1
2.0    1
Name: count, dtype: int64

ilość powtarzalnych danych razem z nan:
3.0    2
1.0    1
2.0    1
NaN    1
Name: count, dtype: int64

posortowanie:
kia        3.0
ford       3.0
mazda      2.0
volvo      1.0
citroen    NaN
dtype: float64

podstawowe statystyki:
count    4.000000
mean     2.250000
std      0.957427
min      1.000000
25%      1.750000
50%      2.500000
75%      3.000000
max      3.000000
dtype: float64

najwieksze dwie wartości:
kia     3.0
ford    3.0
dtype: float64

najmniejsze trzy wartości:
volvo    1.0
mazda    2.0
kia      3.0
dtype: float64

ranking:
volvo      1.0
mazda      2.0
kia        3.5
ford       3.5
citroen    NaN
dtype: float64

braki danych:
volvo      False
mazda      False
kia        False
ford       False
citroen     True
dtype: bool

In [62]:
x = pd.Series(data={'volvo': 1,'mazda': 2,'kia': 3,'ford':3,'citroen':np.nan})

print('standardowe wartości: \n' + str(x) + '\n')
print('podwojone wartości: \n' + str(x.apply(lambda x: x*2))+ '\n')

print(str(x) + '\n')
x = x.apply(lambda x: x*2)
print(str(x) + '\n')

standardowe wartości:
volvo      1.0
mazda      2.0
kia        3.0
ford       3.0
citroen    NaN
dtype: float64

podwojone wartości:
volvo      2.0
mazda      4.0
kia        6.0
ford       6.0
citroen    NaN
dtype: float64

volvo      1.0
mazda      2.0
kia        3.0
ford       3.0
citroen    NaN
dtype: float64

volvo      2.0
mazda      4.0
kia        6.0
ford       6.0
citroen    NaN
dtype: float64

## Podstawowe struktury danych: pd.DataFrame

In [63]:
x = pd.DataFrame(data=[1,2,3,4])
print(x)

   0
0  1
1  2
2  3
3  4

In [65]:
x = pd.DataFrame(data=[1,2,3], index=['jeden','dwa','trzy'], columns=['A'])
print(x)

       A
jeden  1
dwa    2
trzy   3

In [68]:
x = pd.DataFrame(data={'KIA': ['ceed','sportage','rio'],
                       'FIAT': ['bravo','panda','tipo'],
                       'FORD': ['focus','fiesta','mondeo']})

print(x)

        KIA   FIAT    FORD
0      ceed  bravo   focus
1  sportage  panda  fiesta
2       rio   tipo  mondeo

In [82]:
x = pd.DataFrame(data=[[10,15,20],[20,25,30]], index=['Jeden','Dwa'], columns=['A','B','C'])
print(x)

print('\n' + str(x.info()))
print('\n' + str(x.describe()))

        A   B   C
Jeden  10  15  20
Dwa    20  25  30
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Jeden to Dwa
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

None

               A          B          C
count   2.000000   2.000000   2.000000
mean   15.000000  20.000000  25.000000
std     7.071068   7.071068   7.071068
min    10.000000  15.000000  20.000000
25%    12.500000  17.500000  22.500000
50%    15.000000  20.000000  25.000000
75%    17.500000  22.500000  27.500000
max    20.000000  25.000000  30.000000

## selekcja kolumn

In [98]:
x = pd.DataFrame(data=[[10,15,20],[20,25,30]], index=['Jeden','Dwa'], columns=['A','B','C'])
print(x)

print('\n'+ str(x['B']))
print('\n' + str(x.C))

x['D'] = x.A+x.B+x.C

print('\n'+str(x))

print('\n'+str(x.loc['Dwa']))
print('\n'+str(x.iloc[1]))
print('\n'+str(x.loc['Dwa','B']))

        A   B   C
Jeden  10  15  20
Dwa    20  25  30

Jeden    15
Dwa      25
Name: B, dtype: int64

Jeden    20
Dwa      30
Name: C, dtype: int64

        A   B   C   D
Jeden  10  15  20  45
Dwa    20  25  30  75

A    20
B    25
C    30
D    75
Name: Dwa, dtype: int64

A    20
B    25
C    30
D    75
Name: Dwa, dtype: int64

25